.container {
  width: 100%;
  height: 100%;
  background-image: url('background2.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
  text-decoration: none;
  font-size: 2px;
}

.container {
  font-size: larger;
  color: cornsilk;
  font: bolder;
  font-family: sans-serif;
}

button {
  background-color: red;
  background-size: cover;
  font: caption;
  font-size: 20px;
}

.radio {
  font-family: serif;
  font-size: large
}